.completed{
    text-decoration: line-through;
    opacity: 0.4;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    height: 50px;
    margin: 8px auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}
.todo-button {
    width: 100px;
    height: 52px;
    line-height: 52px; /* 垂直居中 */
    border-radius: 20px 20px 20px 20px; /* 圆角 */
    text-align: center;
    background-color: rgba(251, 251, 251, 0.61); /* 背景颜色为蓝色，透明度为0.5 */
    color: white;
    cursor: pointer;
    user-select: none;
    margin: 0 auto; /* 水平居中 */
    position: relative; /* 相对定位 */
}
.todoinput
{ 
    box-sizing: border-box;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #dfe1e5;
    outline: none;
    width: 60%;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto; /* 水平居中 */
    position: relative; /* 相对定位 */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* 背景颜色为浅灰色，透明度为0.8 */

}
.todo-form{
    display: flex;
    margin-left: 200px;
    margin-right: 30px;
}

/* 视频背景样式 */
#bg-video {
    position: fixed; /* 固定定位 */
    top: 0; /* 顶部对齐 */
    left: 0; /* 左侧对齐 */
    width: 100%; /* 宽度为100% */
    height: 100%; /* 高度为100% */
    object-fit: cover; /* 覆盖整个容器 */
    z-index: -1; /* 置于最底层 */
}

/* .todo-app 样式 */
.todo-app {
    width: 98%; /* 宽度为视口宽度的98% */
    height: 75vh; /* 高度为视口高度的75% */
    padding-top: 30px; /* 顶部内边距为30px */
    box-sizing: border-box; /* 包括内边距和边框在内的宽度和高度 */
    background-color: rgba(245, 239, 239, 0.8); /* 背景颜色为浅灰色，透明度为0.8 */
    border-radius: 5px; /* 边框圆角半径为5px */
    margin-top: 40px; /* 顶部外边距为40px */
    margin-left: 1%; /* 左侧外边距为1% */
    background-color: transparent; /* 背景颜色为完全透明 */
}

/* 标题样式 */
.title {
    font-size: 30px; /* 字体大小为30px */
    margin-top: 40px; /* 顶部外边距为40px */
    font-weight: 700; /* 字体加粗 */
    text-align: center; /* 文本居中 */
    margin-bottom: 20px; /* 底部外边距为20px */
    color: white; /* 字体颜色为白色 */
}

/* 圆角方框样式 */
.rounded-box {
    width: 15%; /* 宽度为80% */
    margin: 2%; /* 上下外边距为20px，水平居中 */
    padding: 6%; /* 内边距为20px */
    border-radius: 15%; /* 边框圆角半径为15px */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 100); /* 添加阴影效果 */
    text-align: center; /* 文本居中 */
    background-color: transparent; /* 背景颜色为完全透明 */
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

